# Python temp file
__pycache__
*.py[cod]
.coverage
.pytest_cache/

# intellij
.idea/
*.ipr
*.iml
*.iws

# vscode
.vscode

# Virtualenvs
.env
env
venv


# Yarn
yarn-error.log

## OS X
._*
.Spotlight-V100
.Trashes

.DS_Store
.cache
node_modules/
/app/static/dist/
