[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
requests = "*"
responses = "*"
structlog = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"
pylint-mccabe = "*"
pylint-quotes = "*"
selenium = "*"
behave = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
python-dotenv = "*"
chromedriver-binary = "*"

[requires]
python_version = "3.6"
