<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>SDC | Dashboard</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		{% include 'partials/_styles.html' %}
		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/custom-errors.min.css') }}">
	</head>
	<body class="no-sidebar skin-black">
		<!-- sidebar-collapse -->
		<div class="wrapper">
			{% include 'partials/_header.html' %}
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				{% include 'partials/_content_header.html' %}
				<!-- Main content -->
				<section class="content">
					<div class="error-page">
						<h2 class="headline text-red"> {{ status_code }}</h2>
						<div class="error-content">
							<h3>
								<i class="fa fa-warning text-red"></i> Oops! {{ error_name }}
							</h3>
							<p>
								{{ error_msg }} Meanwhile, you may
								<a href="{{ url_for('dashboard.get_surveys') }}">return to the homepage</a>
							</p>
						</div>
						<!-- /.error-content -->
					</div>
					<!-- /.error-page -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
			{% include 'partials/_footer.html' %}
		</div>
		<!-- ./wrapper -->
	</body>
</html>
