/*
- * Custom CSS
- * -----------
- */

.small-box .icon .fa-color-white {
	color: rgba(255, 255, 255, 0.42);
}

.progress-bar-blue {
	background-color: #00364F;
}

.bg-ons-light-blue {
	background-color: #3398c5;
	color: #fff;
}

.bg-ons-blue {
	background-color: #00364F;
	color: #fff;
}

.bt-ons-blue {
    border-top-color: #00364F;
}

#survey-datatable_filter {
	display: none;
}

.modal-body {
	position: relative;
	padding: 0px 15px 15px 15px;
}

div.dataTables_wrapper div.dataTables_paginate {
	display: none;
}

.dataTables_scrollHeadInner {
	width: auto !important;
}

#long-name {
	font-size: 11px;
}

#collex-datatable_filter {
	display: none;
}

#survey-datatable_info {
	font-style: italic;
	font-weight: 700;
	font-size: 12px;
	padding-left: 7px;
}

#collex-datatable_info {
	font-style: italic;
	font-weight: 700;
	font-size: 12px;
	padding-left: 7px;
}

.table-datatable-hover>tbody>tr:hover {
	color: white;
	background-color: #38484f;
}

.table tr {
	cursor: pointer;
}

#main-content {
	display: none;
}

#alert-reporting-error {
	display: none;
}

#error-reporting {
	display: none;
	min-height: 250px;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media (max-width: 767px) {
	.main-header .navbar {
		display: none;
	}
}

.content-wrapper,
.main-footer {
	margin-left: 0px;
}

.sidebar-toggle {
    font-weight: bold;
}

.top-bar-button strong {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.progress {
	height: 25px;
	background-color: #d4d4d4;
}

.progress-bar {
	font-size: 12px;
	line-height: 25px;
	color: #fff;
	background-color: #00374f;
}

.content-header {
	display: none;
}

#loading {
	margin: 0px;
	padding: 0px;
	position: fixed;
	right: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.loading-content {
	position: absolute;
	text-align: center;
	color: black;
	height: 100px;
	width: 200px;
	top: 40%;
	left: 46%;
}

.loading-text {
	font-size: 1em;
}

.inner-div {
	position: absolute;
	text-align: center;
	color: black;
}

.spinner {
	width: 135px;
	text-align: center;
	position: absolute;
	top: 35%;
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #333;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
	}

	40% {
		-webkit-transform: scale(1.0);
	}
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

#collex-datatable td {
    max-width: 70px;
    overflow: hidden;
}

.tooltip-inner {
    max-width: 275px;
}

.content-wrapper {
    min-height: 100%;
}
