/*
 * Custom CSS
 * -----------
 */

.small-box .icon .fa-color-white {
	color: rgba(255, 255, 255, 0.42);
}

.progress-bar-blue {
	background-color: #00364F;
}

.bg-ons-light-blue {
	background-color: #3398c5;
	color: #fff
}

.bg-ons-blue {
	background-color: #00364F;
	color: #fff
}

#survey-datatable_filter {
	display: none;
}

.modal-body {
	position: relative;
	padding: 0px 15px 15px 15px;
}

div.dataTables_wrapper div.dataTables_paginate {
	display: none;
}

.dataTables_scrollHeadInner {
	width: auto !important;
}

#long-name {
    font-size: 11px;
}

#collex-datatable_filter {
	display: none;
}

#survey-datatable_info {
    font-style: italic;
    font-weight: 700;
    font-size: 12px;
    padding-left: 7px;
}

#collex-datatable_info {
    font-style: italic;
    font-weight: 700;
    font-size: 12px;
    padding-left: 7px;
}

.table-datatable-hover>tbody>tr:hover {
    color: white;
    background-color: #38484f;
}

.table tr {
    cursor: pointer;
}

#main-content {
    display: none;
}

#alert-reporting-error {
    display: none;
}

#error-reporting {
    display: none;
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 767px) {
	.main-header .navbar {
		display: none;
	}
}

.content-wrapper,
.main-footer {
	margin-left: 0px;
}

.sidebar-toggle {
    font-weight: bold;
    font-color:
}

#choose-survey {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.progress {
    height: 25px;
    background-color: #d4d4d4;
}

.progress-bar {
    font-size: 12px;
    line-height: 25px;
    color: #fff;
    background-color: #00374f;
}
