<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js" integrity="sha384-+L9cLYI1hRt62ye+ayjAos6Kfy1yA+EispSRAz0UyD8cBtNKkUYv3e0cf+w2GETR" crossorigin="anonymous"></script>
<!-- DataTables -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" integrity="sha384-rgWRqC0OFPisxlUvl332tiM/qmaNxnlY46eksSZD84t+s2vZlqGeHrncwIRX7CGp" crossorigin="anonymous"></script><script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/scroller/1.5.1/js/dataTables.scroller.min.js" integrity="sha384-tkqfS6yoc4QmncOJt9PlbqpRXSAxapPrirz9K7h3rJLiFgh2MGlEdspT6iFqRYoQ" crossorigin="anonymous"></script>
<!-- App -->
<script src="{{ url_for('static', filename='dist/js/datatables.min.js') }}"></script>