<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>SDC | Dashboard</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		{% include 'partials/_styles.html' %}
		<!-- DataTables -->
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/homepage_custom.css') }}">
	</head>
	<body id="collex-id" class="sidebar-mini skin-black sidebar-collapse">
		<!-- sidebar-collapse -->
		<div class="wrapper">
			<header class="main-header">
				<!-- Logo -->
				<a href="" class="logo">
					<!-- mini logo for sidebar mini 50x50 pixels -->
					<span class="logo-mini">
					<b>R</b>D</span>
					<!-- logo for regular state and mobile devices -->
					<span class="logo-lg">
					<b>Responses</b>Dashboard</span>
				</a>
				<!-- Header Navbar: style can be found in header.less -->
				<nav class="navbar navbar-static-top">
					<!-- Sidebar toggle button -->
					<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
					<span class="sr-only">Toggle navigation</span>
					</a>
					<!-- Navbar Right Menu -->
					<div class="navbar-custom-menu">
					</div>
				</nav>
			</header>
			<!-- Left side column. contains the logo and sidebar -->
			<aside class="main-sidebar">
				<!-- sidebar: style can be found in sidebar.less -->
				<section class="sidebar" style="height: auto;">
					<!-- Sidebar user panel -->
					<!-- sidebar menu: : style can be found in sidebar.less -->
					<ul class="sidebar-menu tree" data-widget="tree">
						<li class="header">MAIN NAVIGATION</li>
						<li class="active treeview menu-open">
							<ul class="treeview-menu">
								<li>
									<a href="" data-toggle="modal" data-target="#modal-survey">
									<i class="fa fa-arrow-right"></i> Choose Survey</a>
								</li>
							</ul>
						</li>
					</ul>
				</section>
				<!-- /.sidebar -->
			</aside>
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<!-- Main content -->
                {% include 'partials/_modal_collex.html' %}
                {% include 'partials/_modal_survey.html' %}
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
		</div>
		<!-- ./wrapper -->
		{% include 'partials/_scripts.html' %}
		<!-- DataTables -->
		<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
		<script src="https://cdn.datatables.net/scroller/1.4.4/js/dataTables.scroller.min.js"></script>
		<!-- App -->
		<script src="{{ url_for('static', filename='assets/js/datatables.js') }}"></script>
		<script>
			$('#collex-id').data('surveys', '{{ all_surveys|tojson|safe }}');
			$(document).ready(function() {
				$("#modal-survey").modal({
					backdrop: 'static',
					keyboard: false
				});
			});
		</script>
	</body>
</html>
