<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>SDC | Dashboard</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		{% include 'partials/_styles.html' %}
		<!-- DataTables -->
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom-reporting.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom-dashboard.css') }}">
	</head>
	<body id="collex-id" class="no-sidebar skin-black">
		<!-- sidebar-collapse -->
		<div class="wrapper">
			{% include 'partials/_header.html' %}
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<!-- Main content -->
                {% include 'partials/_modal_collex.html' %}
                {% include 'partials/_modal_survey.html' %}
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
		</div>
		<!-- ./wrapper -->
		{% include 'partials/_scripts.html' %}
		<!-- Moment JS -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
		<!-- DataTables -->
		<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
		<script src="https://cdn.datatables.net/scroller/1.4.4/js/dataTables.scroller.min.js"></script>
		<!-- App -->
		<script src="{{ url_for('static', filename='assets/js/datatables.js') }}"></script>
		<script>
			$('#collex-id').data('surveys', '{{ all_surveys|tojson|safe }}');
			$(document).ready(function() {
				$("#modal-survey").modal({
					backdrop: 'static',
					keyboard: false
				});
			});
		</script>
	</body>
</html>
