<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>SDC | Dashboard</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		{% include 'partials/_styles.html' %}
		<!-- DataTables -->
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" integrity="sha384-VEpVDzPR2x8NbTDZ8NFW4AWbtT2g/ollEzX/daZdW/YvUBlbgVtsxMftnJ84k0Cn" crossorigin="anonymous">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/custom-reporting.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/custom-dashboard.min.css') }}">
	</head>
	<body id="collex-id" class="no-sidebar skin-black">
		<!-- sidebar-collapse -->
		<div class="wrapper">
			{% include 'partials/_header.html' %}
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<!-- Main content -->
                {% include 'partials/_modal_collex.html' %}
                {% include 'partials/_modal_survey.html' %}
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
		</div>
		<!-- ./wrapper -->
		<script src="{{ url_for('static', filename='dist/js/datatables.min.js') }}"></script>
		<script>
			$('#collex-id').data('surveys', '{{ all_surveys|tojson|safe }}');
		</script>
	</body>
</html>
