<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>SDC | Dashboard</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		{% include 'partials/_styles.html' %}
		<!-- DataTables -->
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" integrity="sha384-VEpVDzPR2x8NbTDZ8NFW4AWbtT2g/ollEzX/daZdW/YvUBlbgVtsxMftnJ84k0Cn" crossorigin="anonymous">
		<!-- Pace Loading -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js" integrity="sha384-5DyzDgtTHw1bbnR1u2aQPxi5+e1KVPsygV5Pioo5W+5ua3sN5AHF05kzM0QfXXqm" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/blue/pace-theme-flash.min.css" integrity="sha384-u5ZxR/zvAHNu3bPO6a6eBt1WI/JWYPegIcObBqgpNp/SLmnt+GJUh7dBd5+NEF/h" crossorigin="anonymous">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/custom-reporting.min.css') }}" />
	</head>
	<body id="collex-id" data-survey="{{ survey_id }}" data-collex="{{ collex_id }}" data-reporting-refresh-cycle="{{ reporting_refresh_cycle }}" class="no-sidebar skin-black">
		<div class="wrapper">
			{% include 'partials/_header.html' %}
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				{% include 'partials/_content_header.html' %}
				<!-- Main content -->
                {% include 'partials/_modal_collex.html' %}
                {% include 'partials/_modal_survey.html' %}

                <section id="error-reporting">
                    <div class="error-page">
						<div class="error-content">
							<h3>
								<i class="fa fa-warning text-red"></i> Oops! Not Found
							</h3>
							<p>
								Sorry, data retrieval failed, meanwhile, you may
								<a href="{{ url_for('dashboard.get_surveys') }}">return to the homepage</a>
							</p>
						</div>
					</div>
                </section>

				<div id="loading">
					<div class="loading-content">
                        <div class="loading-text inner-div">LOADING, PLEASE WAIT</div>
                        <div class="spinner inner-div">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                        </div>
					</div>
				</div>

				<section id="main-content" class="content">
					<div class="row" id="counters" data-id="counters">
					</div>
					<div class="row">
						<div class="col-md-12">
							<div id="collex-box" class="box">
								<div class="box-header with-border">
									<h3 class="box-title">Collection Exercise Progress</h3>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<div class="row">
										<!-- /.col -->
										<div class="col-md-12">
											<!-- /.progress-group -->
											<div class="progress-group">
												<span class="progress-text">Samples Completed</span>
												<span class="progress-number">
												<b>
												<span id="progress-uploaded">0</span>
												</b>/
												<span id="progress-size">0</span>
												</span>
												<div class="progress md">
													<div class="progress-bar progress-bar-black" id="collex-progress">0</div>
												</div>
											</div>
										</div>
										<!-- /.col -->
									</div>
									<!-- /.row -->
								</div>
								<!-- /.box-footer -->
							</div>
							<!-- /.box -->
						</div>
						<!-- /.col -->
					</div>
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
			{% include 'partials/_footer.html' %}
		</div>
		<!-- ./wrapper -->
		{% include 'partials/_scripts.html' %}
		{% include 'partials/_plugins.html' %}
		<!-- App -->
		<script src="{{ url_for('static', filename='dist/js/reporting.min.js') }}"></script>
		<script>
			$('#collex-id').data('surveys', '{{ all_surveys|tojson|safe }}');
		</script>
	</body>
</html>
